{% extends "base.html" %}

{% block site_header %}{% endblock %}
{% block site_footer %}{% endblock %}

{% block body_class %}landing-page{% endblock %}

{% block content %}

<section class="hero-section">

<h1 class="hero-title">

I'd be happy to meet you

</h1>


<p class="hero-text">

I was thinking it would be nice to meet for lunch  
in front of the Mechanical Department.

<br><br>

Does that sound okay to you?

</p>


<div style="margin-top:40px;">

<a href="/see-you-soon/" class="cta-button">

Yes, that works for me

</a>


<br><br>


<a href="/adjust-meeting/" class="cta-button">

Maybe we can adjust the time or place

</a>

</div>


</section>

{% endblock %}